html {
  background-color: green;
  font-family: 'Roboto Mono', courier;
}

* {
  box-sizing: border-box;
}

.text-center1 {
  padding: 30px;
  font-size: 18px;
  color: green;
  background-color: #FFFFFF;
  width: 500px;
  height: fit-content;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  margin-top: 150px;
}

.caption {
  font-size: 14px;
  float: right;
}

.btn1 {
  float: left;
}

.btn2 {
  float: right;
}
